*{
margin: 0px;
padding: 0px;
box-sizing: border-box;
}


body{
width: 100vw;
height: 100vh;
background-color: #79c1f3;
display: flex;
align-items: center;
justify-content: center;
}


.conteiner{
width: 80%;
height: 40%;
display: flex;
justify-content: space-between;
}


.lista{
width:100%;
display: flex;
align-items: center;
flex-direction: column;

}
.todo{
background-color: white;
height: 100%;
width: 100%;
display: flex;
align-items: center;
justify-content: flex-start;
flex-direction: column;

}
.message{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    
}
.message h2{
color: #f6e254;

}
.message h1{
text-align: center;
color:white;
}

.js{
background-color:#ffdd59 ;
border-radius: 5px;
padding: 0px;
margin: 0px;
max-height: 30px;
display: flex;
justify-content: center;
align-items: center;
padding: 5px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.todo h2{
text-align: center;
margin: 15px;
}

.text{
border: none;
background-color: rgb(209, 207, 207);
border-radius: 15px;
height:30px;
width: 60%;
margin-bottom: 20px;
padding-left: 10px;

}
button{
border: none;
height: 60%;
width: 7%;
border-radius: 100%;
position: relative;
right: 30px;
font-size: 4ex;
background-color: #30cc2e;

}

button:hover{
cursor: pointer;
}


.todo p{
font-size: 1em;
color: #30cc2e;
text-align: center;
padding: 10px;
opacity: hidden;
}


.input{
display: flex;
justify-content: center;
width: 100%;

}


ul{
width:60%;
position:relative;
right: 15px;


}
li{
    list-style-type: none;
    display: flex;
    background-color: rgb(209, 207, 207);
    margin-bottom: 5px;
    height:70%;
    width: 100%;
    border-radius: 15px;
    padding: 20px;
    align-items: center;
    max-height: 70%;
    min-height: 70%;
}

.ul{
width: 100%;
display: flex;
justify-content: center;
}

.check{
height: 15px;
width: 15px;
margin-right: 5px;
border: none;
}